# Rust build artifacts
/target/
Cargo.lock

# Test data & raw NMR data
/test_data/
/doc-dev/
*.jdf
*.rsn
*.npy

# Temporary and editor files
$null
*.log
.vs/
.idea/
.vscode/
.cargo/
TODO.txt
GEMINI.MD
SPEC.MD
PROMPT.MD
BUILD_MAC.md
build_mac.sh
README.html
/icon_work/

